@mixin dark-mode($bg-color: #333, $text-color: #FFF, $font-size: 16px, $padding: 10px 20px, $width: auto, $height: auto) {
    // Estilos para el botón
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: darken($bg-color, 10%);
    }


    body.dark-mode & {
        background-color: $text-color;
        color: $bg-color;

        &:hover {
            background-color: darken($text-color, 10%);
        }
    }

    footer.dark-mode & {
        background-color: $text-color;
        color: $bg-color;
    }
}


body.dark-mode {
    background-color: #333;
    color: #FFF;

    .table {
        border-color: #666;

        thead th {
            background-color: #444;
            color: #FFF;
            border-color: #666;
        }

        tbody td {
            background-color: #333;
            color: #FFF;
            border-color: #666;
        }

        tr:hover {
            background-color: #444;
        }
    }
}